
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/cover.css" rel="stylesheet">
      
      <!-- Font Awesome -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--<h3 class="masthead-brand">Pawsperity, Inc.</h3>-->
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                    <li><a href="http://blog.pawsforpawsperity.org">Blog</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Now recruiting volunteers!</h1>
                <p></p>
              <h3><p class="large">Reach out to us </p><p class ="small">by<a href="tel:+14159527297"> phone: 415-952-PAWS (7297)</a> </p><p class="small">or <a href="mailto:helpus@pawsforpawsperity.org?subject=Another%20set%20of%20paws%20for%20the%20cause">email: helpus@pawsforpawsperity.org</a></p></h3>
            <p class="lead"></p>
            <p class="lead">
              <a href="http://pawsforpawsperity.org" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
            
            <div class="mastfoot">
            <h1 class="cover-heading">Pawsperity, Inc.</h1>
            <p class="lead">Feeding the dogs of the homeless</p>
            <p class="lead">
              <a class="btn" href="http://www.facebook.com/pawsperity">
                <!--<img src="./images/FB_FindUsOnFacebook-100.png"></img>-->
                <img src="./images/FB-f-Logo__blue_50.png">
              </a>
              <a class="btn" href="https://twitter.com/pawsperity">
                <!--<img src="./images/FB_FindUsOnFacebook-100.png"></img>-->
                <img src="./images/Twitter_logo_white.png">
              </a>
              <a href="https://squareup.com/market/pawsperity-inc" class="btn btn-lg btn-default">Donate</a>
            </p>
              <p class="small">Photo courtesy of <a href="http://sophiagermerphotography.com/">Sophia Germer</a>
              </p>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
